body{
    background-color: #ecf0f1;
}
a{
    text-decoration: none !important;
}
.input-group.mb-0.search {
    width: 459px;
    margin-left: 132px;
    /* height: 12px; */
}
img.logo {
    width: 212px;
    height: 57px;
    object-fit: cover;
    object-position: center center;
}
.button-search:hover {
    background-color: #980404ab;
}

button.btn.btn-outline-secondary.button-search {
    border: 1px solid #ced4da;
}
.top-nav {
    background-color: #fff !important;
    /* width: 1394px; */
    margin: 0 auto;
    width: 85%;
    height: 60px;
}
.top-nav-right.navbar {
    margin-left: auto;
}

.icon-bell {
    padding-right: 22px;
}
a#dropdownMenuLink {
    text-decoration: none;
}


.dropdown-menu.list-dangnhap.show {
    width: 277px;
    height: 200px;
}
.button-dangnhap {
    display: flex;
    padding-top: 14px;
}

.button-right {margin-left: 23px;}

.dropdown-menu {
    right: 0;
    left: unset;
}
.form-group.password {
    position: relative;
    width: fit-content;
}

i.far.fa-eye {
    display: none;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    color: gray;
    cursor: pointer;
}
i.fas.fa-eye-slash {
    display: none;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    color: gray;
    cursor: pointer;
}
.show form {
    padding-left: 24px;
    padding-top: 15px;
}
i.far.fa-bell {
    position: relative;
    font-size: larger;
}

span.number {
    position: absolute;
    /* margin-top: -35px; */
    /* padding-left: 8px; */
    width: 16px;
    height: 16px;
    background-color: red;
    text-align: center;
    border-radius: 50%;
    line-height: 16px;
    font-size: 11px;
    top: 1px;
    right: 129px;
    color: white;
    font-weight: 600;
}
nav.navbar.navbar-expand-lg.navbar-light.bg-light.list-nav {
    background-color: #9a0c0cf2 !important;
    width: 85%;
    margin: 0 auto;
}

.list-nav {
    margin-top: 22px;
    height: 40px;
}
.list-nav a {
    color: white;
    font-weight: 400;
}
a.nav-link:hover {
    background-color: #790707;
}
/*--------------------------------css top-content---------------------------------------------------*/
.top-content {
    /*background-color: pink;*/
    width: 100%;
    height: auto;
    margin-top: 12px;
}

.top-content-on {
    /* background-color: red; */
    width: 85%;
    margin: 0 auto;
}
.img-top-content-left {
    width: 100%;
    height: 450px;
    transition: 0.8s;
}
.post1 {
    padding-right: 0;
}

.post2 {
    padding-left: 16px;
    height: 450px;
}

.news1 {
    height: 500px !important;
    overflow: hidden;
}

.news1 img {
    height: 500px !important;
}

.post1 img,.post2 img {
   
    object-fit: cover;
    object-position: center center;
}
img.img-top-content-right {
    width: 100%;
    height: 273px;
    transition: 0.8s;
}

ol.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.img-right {
    height: 450px;
    overflow: hidden;
}

.top-content-left {
    overflow: hidden;
}
.anhtop1 {height: 218px;overflow: hidden;position: relative;margin-bottom: 14px;}
.post{
    filter: brightness(50%);
    transition: 0.5s;
}
.post:hover{
    filter: brightness(100%);
    transform: scale(1.1);
}
.top-content-left{
    height: 450px;
    position: relative;
    overflow: hidden;
}
.text-img{
    position: absolute;
    z-index: 9999;
    bottom: 14px;
    /*color: white;*/
}
ul li {
    display: inline-block;
    color: white;
}

.text-img h3 ,.text-img-small h5{
    padding-left: 14px;
        font-weight: 700;
        color:#fff;
}

.text-img-small h5{
padding-right: 10px;
}
ul {
    padding-left: 14px;
}


ul li {
    padding-right: 11px;
}
.post{
    transition: 1s;
    object-fit: cover;
    object-position: center center;
}

.anhtop1.bottom {
    /* margin-top: 14px; */
}

/*img.post {
    filter: brightness(73%);
}
*/

}
img.img-top-content-right {filter: brightness(73%);/* position: absolute; */}
.text-img-small {
    position: absolute;
    bottom: -5px;
}
.list-content-1 {
    width: 85%;
    margin: 0  auto;
    margin-top: 12px;
  }  
/*------------------------css phan list-content-1--------------------------------*/
.list-content-left {
    padding-right: 0;
}
.left {
    padding: 20px;
    background-color: #fff;
}
.list-baibao {
    margin-top: 20px;
}
.text-post ul li {
    color: black;

}
.text-post ul{
    margin-left: -13px;
}
.text-post {
    margin-left: -24px;
    word-break: break-word;
}
.div-picture {
    width: 270px;
    height: 190px;
    overflow: hidden;
}
.col-md-8.list-content-left {
    /* background-color: #fff; */
}
.top-content-left:hover.top-content-left img {
    transform: scale(1.04);
}
.top-content-left:hover.densi{
    opacity: 0.3;
}

.title {
    width: 100%;
    height: 37px;
    background-color: #9a0c0cf2;
    color: #fff;
    font-size: 20px;
    padding-left: 12px;
    line-height: 37px;
    font-weight: 600;
}
.right {
    width: 100%;
    height: auto;
    background-color: #fff;
    padding: 20px;
}

.div-post {
    overflow: hidden;
}

img.sidebar-img {
    width: 100%;
    height: 255px;
    object-fit: cover;
    object-position: center center;
}
.storie {
    padding: 20px;
}

.tinphobien {
    margin-top: 20px;
}

nav.splitpage ul {
    display: block;
    text-align: center;
}

img.anh-siderbar {
    width: 100px;
    height: 80px;
    object-fit: cover;
    object-position: center center;
}
.text-post.phobien {
    padding-left: 40px;
    width: 100%;
    height: 100%;
}

.text-post.phobien ul {
    font-size: 12px;
}
.siderbar{
    float: right;
}
.list-content-left{
    float: left;
}

.maincontent {
    width: 85%;
    margin: 0 auto;
    margin-top: 30px;
}

.splitpage ul li a {
    color: #5555f9 !important;
    font-weight: 500;
}

/*----------------------------------------css tintucchonloc----------------------------------------*/
.tintucnoibat {
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
}
img.anhchonloc {
    width: 100%;
    height: 166px;
    object-fit: cover;
    object-position: center center;
}
.news2{
    overflow: hidden;
}

/*-----------------------------------------------css footer----------------------------------------*/
.footer{
    background: pink;
    height: auto;
    padding: 39px 0;
}
.ul-footer{
    padding-left: 0;
}
i.fab.fa-facebook {
    font-size: x-large;
}

i.fab.fa-instagram {
    font-size: x-large;
}
.footer {
    /* padding-top: 75px; */
}
p.email {
    margin-top: -19px;
}

